<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034076506520-5elbcg8d8q4fub22hm9sfs5hngrsmcij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034076506520-5elbcg8d8q4fub22hm9sfs5hngrsmcij</string>
	<key>API_KEY</key>
	<string>AIzaSyCO9vrSPsSrGsMsD_9UbYKANMrvc5lln6o</string>
	<key>GCM_SENDER_ID</key>
	<string>1034076506520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.villafruit</string>
	<key>PROJECT_ID</key>
	<string>villafruit-c6a1d</string>
	<key>STORAGE_BUCKET</key>
	<string>villafruit-c6a1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034076506520:ios:1334d22d84e4c47b5e43ed</string>
</dict>
</plist>